body {
	max-width: 600px;
	font-size:  2rem;
	font-family:  Baskerville;
	margin:  0 auto;
}

img {
	max-width: 100%;
}

.cool-background {
	color:  white;
	background-image: url('images/tree.jpg');
	background-color: lightgrey;
	background-size:  cover;
}